.wraper-header-content{
  padding-top: 60px;
  padding-bottom: 50px;
}

.wraper-header-nav{
  background: #F1F1F1;
  border-radius: 10px;
  width: 1140px;
  margin: 0 auto;  
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px; 
}

.wraper-header-nav-list{
  padding-left: 20px;
}

.wraper-header-nav-list-li{
  color: #02535F;
  text-decoration:underline;
  padding-bottom: 10px;
}

.wraper-header-nav-list-li:last-child{
  padding-bottom: 0px;
}